<% include ../partials/header %>

<form method="POST" action="/ppltitles">
    <div class="form-group">
      <label for="inputTitle">Salutations</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Enter Salutations here" name="inputTitle">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <% include ../partials/footer %>