<% include ../partials/header %>

<form method="POST" action="/company">
    <div class="form-group">
      <label for="business_name">Business Name</label>
      <input type="text" class="form-control" id="business_name" placeholder="Business Name" name="business_name">
    </div>
    <div class="form-group">
      <label for="email">Business Email</label>
      <input type="text" class="form-control" id="email" placeholder="Business Email" name="email">
    </div>
    <div class="form-group">
      <label for="mobile_number">Business Mobile</label>
      <input type="text" class="form-control" id="mobile_number" placeholder="Enter Mobile number here" name="mobile_number">
    </div>
    <div class="form-group">
        <label for="registration_id">Business Registration ID</label>
        <input type="text" class="form-control" id="registration_id" placeholder="Enter Registration ID" name="registration_id">
      </div>
      <div class="form-group">
        <label for="main_address">Business Addresss</label>
        <input type="text" class="form-control" id="main_address" placeholder="Enter Business Address" name="main_address">
      </div>
      
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <% include ../partials/footer %>